#LoadingImage {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 9999;
}
.loading-media-container{
    overflow: hidden;
    position: relative;
}

#LoadingImage>img {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 40%;
}

#thumbs_store {
    max-height: 310px;
    /*overflow: auto;*/
}

.xs-action-media-control {
    background: #FFF;
    padding: 0 5px;
}

.media_modal_thumb {
    border: 1px solid #DCDCDC;
    padding-top: 20px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-left: 8px;
    height: 135px;
}
.loading-media-container .media-inner-box{
    float: left;width: 100%;height: 300px;overflow: auto;  
}
.submit-btn-cls{
    background: none;
    border: none;
    font-size: 17px;
    padding: 0;
    margin-top:1px;
}
.media_modal_thumb a.thumbnail {
    border: none;
    // margin-bottom: 0px;
    background: transparent;    
}

.media_modal_thumb.selected {
    background: url(tick.png) no-repeat top right /15%;
    border: 1px solid #3AB924;
}

#thumbs_store .thumb-container{
    position:relative;
    overflow: hidden;
}
#thumbs_store .remove-media-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #F1F1F1;
}
.remove-item {
    float: right;
    margin-top: 3px;
    margin-left:9px;
}
.xs-field-sizes{
    display: none;
}
.page-container {
    margin-top: 46px;
    position: relative;
}
.profile-userpic {
    text-align: center;
}
.caption.caption-md.edit-css {
    margin-left: 20px;
    position: relative;
}
form.del-css {
    float: left;
}
.xs-astric{
    color:#D64635;
}

.register .form-group label{
    display: block!important;
}

.background-text{
    color:#158B1B;
    font-weight:bold;
}
.image-text{
    color:#158B1B;
    font-weight:bold;
}
.description{
    margin: 14px 0;
    font-size: 15px;
    font-weight: 600;
}

.page-sidebar .page-sidebar-menu nav li.custom-button:hover a{
    background-color: #008AE2!important;
}

.toolbarSetting .radio{
    padding-top:0px !important;
}

/* 30-10-2017 css */
.portlet .toolbarSetting .control-label h2 {
    margin-top: 4px;
    font-size: 25px;
    font-weight: 600;
}
.portlet .toolbarSetting .radio{
	margin-right:6px;
}
.portlet .toolbarSetting label:last-child {
    margin-left: 15px;
}
#tab_1_1 .form-horizontal label {
    padding-bottom: 6px;
}
.portlet .btn-circle{
	border-radius:4px !important;
}


/* 09-11-2017 css*/

#myModal .modal-lg{
	width: 650px;
}
#myModal form .minicolors, #myModal form .col-lg-12 input {
    width: 100%;
	float: left;
	max-width: 513px;
}
#myModal .form-group select{
	width:85%;
}
#myModal .form-horizontal .control-label{
	text-align:left;
	padding-bottom:5px;
}
#myModal .select-type, #myModal .image-text{
	padding-left:15px;
}

#myModal .media_modal_thumb{
	margin-left:15px;
}
#myModal .loading-media-container .media-inner-box{
	height: 190px;
}
#myModal .ajax-upload-dragdrop{
	padding:0px;
}
 .page-content #myModal .pull-left {
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 10px;     
}
#myModal .media_modal_thumb a.thumbnail {
    height: 80px;
}
#myModal .panel{
	margin-bottom:0px;
}
#create_canvas_size .form-group label {
    text-align: left;
	padding-bottom:5px;
}

#create_canvas_size {
    width: 100%;
    max-width: 600px;
}
#create_canvas_size .pull-left .btn-success{
	margin-top:25px;
	margin-left:0px; 
}
#create_canvas_size .pull-left .btn-success:hover{
	background-color:#008AE2;
	color:#fff;  
	border:1px solid #008AE2;
	border-radius:4px !important;
}
#create_canvas_size .pull-left{
	padding-left:0px;
}
#create_canvas_size .panel-heading {
    color: #727071;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
}
.footer-btn .btn-success{
	float:right;
}
.footer-btn .btn-default{
	float:right;
	color:#008AE2;
	border:1px solid; 
	padding:7px 30px;
	border-radius:4px !important;
}
.footer-btn .btn-default:hover{
	background-color:#008AE2;
	color:#fff;
	border-radius:4px !important;
	border:1px solid #008AE2; 
}
/* 15-11-17 */
.update-category .col-lg-12.control-label {
    text-align: left;
    padding-left: 0px;
	padding-bottom:8px;
}
.update-category .panel-body {
    width: 100%;
    max-width: 700px;
}
.update-category .col-lg-12{
	padding-left:0px;
}
#edit-panel-page .gallery, #edit-panel-page .btn-success, .update-category .btn-success, #edit-canvas .btn-success, #edit-canvas .gallery, .modal-dialog .btn-default {
	 color: #008AE2;
    background: transparent ;
    border: 1px solid #008AE2;
	border-radius: 4px !important;
}

#edit-panel-page .gallery:hover, .update-category .btn-success:hover, #edit-canvas .btn-success:hover, #edit-canvas .gallery:hover, .modal-dialog .btn-default:hover, #ajax-upload-id-1511005990612:hover, #edit-panel-page .btn-success:hover {
    color: #fff;
    background: #008AE2;
    border: 1px solid #008AE2;
	border-radius: 4px !important;
}
#edit-canvas .control-label {
    text-align: left;
    padding-bottom: 8px;
}
#edit-canvas {
    width: 100%;
    max-width: 700px;
}
#edit-canvas .form-group {
    margin-bottom: 8px;
}
#edit-canvas .gallery{
	margin-top:10px;
}
#edit-canvas .col-lg-3.control-label {
    margin-top: 10px;
}
/* 18-11-17 */



.update-category .form-group {
    padding-left: 15px;
}
#edit-panel-page .col-lg-12 {
    padding-left: 0px;
}
#edit-panel-page .form-group select {
    border: 1px solid #c2cad8;
    width: 83%;
    padding: 6px 0px;
}
#edit-panel-page .media-form-page {
    padding-left: 30px;
}
#edit-panel-page .control-label {
	text-align:left;
	padding-left:0px;
	padding-bottom:4px;
}
#edit-panel-page .panel-body{
	padding-left:30px;
}
.panel-background-header{
	padding-top:0px;
}
.update-category .btn-success {
    background-color: transparent;
    color: #008AE2;
    border: 1px solid #008AE2;
}
.update-category .btn-success:hover{
	 background-color: #008AE2;
	 color:#fff;
}
/* 20-11-17 */
.page-sidebar-menu a:active i, .page-sidebar-menu a:active span {
    color: #FE0087 !important;
}

@media only screen and (max-width: 1200px) {
#myModal .modal-lg {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#myModal .form-horizontal .control-label{
	width:100%;
}
	
}





