.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 0.5s ease-in-out all;
    -moz-transition: 0.5s ease-in all;
    -ms-transition: 0.5s ease-in-out all;
    -o-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;
    position: relative;
    display: block;
}

.animate-repeat.ng-leave,
    .animate-repeat.ng-enter.ng-enter-active {
   opacity: 1;
    /*left: 0;*/
    /*height: 30px;*/
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
   opacity: 0;
    /*left: -50px;*/
    /*height: 0px;*/
}

/*******************************************  SECOND NG_REPEATE ANIMATION**********************************************************/
.animate-repeat2.ng-enter,
.animate-repeat2.ng-leave {
  -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-repeat2.ng-leave,
    .animate-repeat2.ng-enter.ng-enter-active {
   opacity: 1;
    left: 0;
    height: 30px;
}

.animate-repeat2.ng-leave.ng-leave-active,
.animate-repeat2ng-enter {
   opacity: 0;
    left: -50px;
    height: 0px;
}


/**=============================================================================================**/

/*
Pour dire en CSS3 ce qui devra être animé :
Angular ajoute dynamiquement des classes CSS.
La transition se fait soit entre ng-enter et ng-enter-active
ou entre ng-leave et ng-leave-active.
*/
 .animate-if.ng-enter, .animate-if.ng-leave {
/*    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    -ms-transition: .5s ease-in-out all;
    -o-transition: .5s ease-in-out all;
    transition: .5s ease-in-out all;*/
    opacity: 0;
}

.animate-if{
  opacity: 0;
}

.animate-if.ng-scope{
  opacity: 1;
}

/* du début de l'entrée */
 .animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}
/* à la fin de l'entrée */
 .animate-if.ng-enter.ng-enter-active {
    max-height: 999px;
    opacity:1;
}
/* du début de la sortie */
 .animate-if.ng-leave {
    max-height: 999px;
    opacity:1;
}
/* à la fin de la sortie */
 .animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}





/*.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}*/

/*.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}*/





