/*define your css vars*/
/*:root {
  --headerColor: #00C4CC;
}*/

body{
    padding: 0;
    margin: 0;
    overflow:hidden;
}  

/* 11-04-2017 */
.main{width:100%; float:left; }
.tab-navbar{background-color:#000;}
.editor-tabs{ margin-bottom: -31px !important;margin-left: 20px;}
.editor-tabs li{padding-top:22px;}
.editor-tabs a{padding: 10px 49px !important;}
.editor-tabs dd > a, .editor-tabs .tab-title > a{background-color: #6f6f6f; color: #fff;}
.editor-tabs dd > a:hover, .editor-tabs .tab-title > a:hover{background-color: #e1e1e1;}
.started-editor h4{ padding-top:45px; color:#6f6f6f;}
.started-editor li{list-style:none; display:inline-block; width:24%; padding:0px; margin:0px;}
.started-editor ul{ width:100%; margin:0px;}
.started-editor button{width:85%; }
.started-editor li a{background-color:#e8e8e8; color:#565656; border:1px solid #ebebeb; width:95%; }
.started-editor li a:hover{background-color:#d7d5d5; color:#565656; border:1px solid #d7d5d5; }
.started-editor li a:focus{background-color:#d7d5d5; color:#565656; border:1px solid #d7d5d5; }
.button-section{padding-top:30px;}
.enter-editor-size {float: left;width: 100%;}
.enter-editor-size h4{ padding-top:20px;}
.button.expand { padding-left: 0;padding-right: 0;width: 26%;border-radius: 4px; font-size:20px;}
.continue-button{float:left; width:100%; }
.enter-editor-size form ul li { list-style: none; display: inline-block;}
.enter-editor-size form ul li input{margin:0px; text-align:center; font-size:18px; padding:0px;}
.enter-editor-size p{padding-bottom:15px;}
/* secon tab css*/
.button-editor button{width:85%; }
.button-editor ul{ width:100%; margin:0px;}
.button-editor li{list-style:none; display:inline-block; width:16%; padding:0px; margin:0px;}
.button-editor li a{background-color:#fff; color:#565656; border:1px solid #fff; width:95%; margin-bottom:0px; padding:7px;}
.button-editor a:hover{background-color:#fff; color:#565656; border:1px solid #fff; }
.button-editor a:focus{background-color:#fff; color:#565656; border:1px solid #fff; }
.main-editor { float:left;width: 100%; margin-top: 25px;}
.first-gallery img{width:100%;}
.first-gallery a {height: 100px;display: block; overflow: hidden;width: 100%; margin-bottom: 15px;border: 1px solid #e1e1e1;}
.first-gallery{padding-top:20px; float:left; width:100%;}
.button-editor { padding-bottom: 20px;}
.is-selected{background-color:#008CBA !important;color:#fff !important;}


.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:         top, left, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* 11-04-2017 end css */


/*Navigation bar section css*/
/*@ .top-bar{
    background: #00CCBA;
}*/
.top-bar {
    background-image: url("../images/header_background-img.png");
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: transparent !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-right: 1px solid rgb(144, 144, 144);
    line-height: normal;
    margin-top: 12px;
}
.top-bar-section li:last-child a:not(.button){
    border-right:transparent;
}
section.top-bar-section ul.right li > a{ color: rgb(144, 144, 144);
                                         font-size: 14px !important;
                                         font-weight: normal !important;
                                         text-transform: capitalize !important;
}
/*@ .top-bar-section li:not(.has-form) a:not(.button) {
    background: #00ccba none repeat scroll 0 0;
}*/
.top-bar-section .has-form {
    background: #00ccba;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background: #00ccba;
}
/*.top-bar-section li:not(.has-form) a:hover:not(.button) {
    background: #00ccba;
}*/
.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background: #00c1af;
}
.no-js .top-bar-section ul li:hover > a {
    background: #00c1af;
}

/*Left bar login*/
.left-bar-nav-container {
    background: #3f4651 none repeat scroll 0 0;
    min-height: 93.1vh;
    padding-left: 0;
    padding-right: 0;
    /*    overflow: hidden;*/
}
/*@ .left-bar-nav-menu li{padding-top: 10px; padding-bottom: 10px;} */

.right-bar-nav-container{
    background:  #CDD1CD;
    min-height: 93.1vh;       
    padding-left: 0;  
    overflow: auto;
}

.left-bar-nav-panel {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    height: 93.1vh;
}

.left-bar-nav-menu {
    list-style: outside none none;
    margin: 0;
    text-align: center;
    padding: 0;
}

.left-bar-nav-menu a {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 100%;
    display: block;
}
.left-bar-nav-menu li  a {
    /*  background-position: 50% 19px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      box-sizing: border-box;
      color: #fff;
      display: block;*/
    /*  height: 50px;
      padding-top: 41px;*/
    /*text-decoration: none;*/
    transition: all 0.15s linear 0s, opacity 0s linear 0s;
    width: 100%;
}
/*-fixed bottom left button 28/8 */
.bottom-position_left-side{
     /* position:static; */
    list-style: none;
    float: none;
    margin: 0px;
    bottom: 0;
   position: absolute; 
    left: 9px;
}
ul.bottom-position_left-side a#zoomIn{
    padding: 0px;
}
ul.bottom-position_left-side a#zoomOut {
    padding:0px 0px 9px;
}

#color-plates-text li {
    margin-bottom: 5px;
    margin-right: 5px;
}

#color-plates-button li {
    margin-bottom: 5px;
    margin-right: 5px;
}

.has-tip .tip-right {
     overflow:auto;
}
/*.left-bar-nav-menu .search a{
    background-image: url(../images/mockup_3d.png);
}

.left-bar-nav-menu .layout a{
    background-image: url(../images/layout.png);
}

.left-bar-nav-menu .text a{border-bottom: 1px solid #3F4651;
    background-image: url(../images/text.png);
}

.left-bar-nav-menu .backgrounds a{
    background-image: url(../images/background.png);
}

.left-bar-nav-menu .uploads a{
    background-image: url(../images/download.png);
}

.left-bar-nav-menu .images a{
    background-image: url(../images/images.png);
}

.left-bar-nav-menu .textfx a{
    background-image: url(../images/textfx.png);
}

.left-bar-nav-menu .undosection a{
    background-image: url(../images/tb_undo.png);
}

.left-bar-nav-menu .redosection a{
    background-image: url(../images/tb_redu.png);
}

.left-bar-nav-menu .fitscreen a {
  background-image: url("../images/fit_to_screen.png");
}*/

.columns.left-bar-nav-panel  {
    padding: 0;
}

/*Canvas element right side styleing*/
.canvas-frame {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.082);
    /*background: url(../images/canvas-bg.png) repeat;*/
    /*background: #fff;*/
    position: relative;
    //background-image: url("../images/background/ruler.png");
}
.canvas-container-main{
    text-align: center;
    height: 100%;
}
.loading-canvas-inside{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    top: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20%;
    padding-right:40%;
    font-size: 1rem;
    font-weight:bold;
    display:none;
}
.canvas-inside{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    top: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20%;
    padding-right:40%;
    font-size: 1rem;
    font-weight:bold;
    display:none;
}
.onactive {
    background-image: url("../images/header_background-img.png");
    color: rgb(237, 30, 136);
    display: block;
    width: 100%;
}
.onactive i{color: rgb(237,30,136);}
.search-area {
    padding: 15px 32px 15px 15px;
}
#menu_text a {
    color:rgb(104, 104, 104);
}

.search-area input {
    border: medium none;
    border-radius: 5px;
}
#menu_text a {
    color:rgb(104, 104, 104);
}
.error-block button.close {
    margin-top: 6px !important;
}
/*====================DEMON=====================*/
.scroll-loader {
    height: 500px; 
    overflow-y: auto;
    overflow-x: hidden;
    /*    overflow: auto;*/
}

.infoPanelGallery {
    list-style: outside none none;
}
.infoPanelGallery li .info {
    background-color: transparent;
    bottom: 0;
    height: 0;
    left: 0;
    line-height: 1.8;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-align: right;
    transition: height 0.2s ease-out 0s;
    z-index: 5;
}
.example-animate-container {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat2 {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.example-animate-containe{
    float: left;
}
.textControls:not(.clone) {
    padding-bottom: 10px;
    text-align: center;
}
.textControls > p {
    opacity: 0.5;
    color:#ffffff;
    margin-bottom:0;
}
.textControls > ul {
    font-size: 90%;
}
.textControls li {
    line-height: 1.3;
    list-style: outside none none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 9999;
}

.textControls ul li a{
    color: #ffffff;
    z-index: 99999;
}
#menu_text .scroll-loader{
    height: 368px;
}
#menu_background .scroll-loader{
    height: 300px;
}


/** CUSTOMIZING SCROLLBAR ONLY WORKS FOR WEB-KET**/
.scroll-loader::-webkit-scrollbar{
    width:4px;
    background-color:#cccccc;
}
.scroll-loader::-webkit-scrollbar-thumb{
    background-color:#ffffff;
    border-radius:10px;
}
.scroll-loader::-webkit-scrollbar-thumb:hover{
    background-color:#BF4649;
    border:1px solid #333333;
}
.scroll-loader::-webkit-scrollbar-thumb:active{
    background-color:#A6393D;
    border:1px solid #333333;
} 
.scroll-loader::-webkit-scrollbar-track{
    background-color: #3F4651;
    border:0px;
    border-radius:10px;
    /*-webkit-box-shadow:0 0 6px gray inset;*/
} 
.scroll-loader::-webkit-scrollbar-button{
    border:0px;
    display: none;
} 

/* CSS FOR CHOSE COLOR SECTION UNDER BKGROUND*/

.colorControls {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px 0 20px;
    padding-bottom: 10px;
    text-align: center;
}

.static.paletteToolbarWrapper {
    box-shadow: none;
    height: auto;
    overflow-y: visible;
    position: static;
    width: auto;
}
.static .paletteToolbar {
    height: auto;
    left: -6px;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: calc(100% + 12px);
    z-index: 9;
    padding: 0px 30px;
}
.scrollPane {
    outline: medium none;
    list-style: none;
}
.static .paletteToolbar li:not(.picker) {
    animation: 0s ease 0s normal none 1 running none;
}
.paletteToolbarWrapper .paletteToolbar li, .static .paletteToolbarCloneItem {
    display: inline-block;
    float: none;
}
.paletteToolbar li, .paletteToolbarCloneItem {
    animation: 0.3s ease 0s normal none 1 running appearingElement;
    border-radius: 40px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15) inset, -1px -1px 0 rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    height: 40px;
    margin: 6px;
    position: relative;
    width: 40px;
    z-index: 2001;
}

.paletteToolbar li a {
    height: 100%;
    position: absolute;
    /*float: left;*/
    text-indent: -9999em;
    width: 100%;
    z-index: 2003;
    left: 0;
}
a {
    color: #00c4cc;
    cursor: pointer;
}
.paletteToolbar li.picker.background_picker::after {
    color: #4c4c4c;left: 0; top: 0;
}
.paletteToolbar li.picker::after {
    bottom: 0;
    color: rgb(76, 76, 76);
    content: "+";
    cursor: pointer;
    display: block;
    font-size: 28px;
    font-weight: 100;
    height: 40px;
    left: -7px;
    line-height: 38px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: -6px;
    width: 40px;
    z-index: 2002;
}
/* +++++++++++++++++++++++++++++++++++      CSS FOR Top toolbar       ++++++++++++++++++++++++++++++++++++++++  */

#section_toolkit_menu {
    display: block;
    background-color: rgb(255, 255, 255);
    height: auto;
    margin-left: 1px;
    padding: 10px 0;
    position: fixed;
    top: 45px;
    z-index:23;
    width:100%;
}
#section_toolkit_menu i{
    color:#fff;
}
#section_toolkit_menu #range-slider-filter.range-slider,
#range-slider-line-height.range-slider {
    float: right;
    height: 10px;
    position: absolute;
    right: 41px;
    top: 6px;
    width: 60%;
}
#section_toolkit_menu select {
    padding: 0 0 0 5px;
}

#section_toolkit_menu #range-slider-filter .range-slider-active-segment,
#range-slider-line-height span.range-slider-active-segment {
    height: 9px;
}
#section_toolkit_menu #range-slider-filter.range-slider .range-slider-handle,
#range-slider-line-height.range-slider span.range-slider-handle {
    height: 20px;
    top: -6px;
    width: 24px;
}
.transparancy-popover small#transparancy-range-limit,
small#line-height-counter {
    color: rgb(76, 76, 76);
    display: inline-block;
    float: right;
    position: absolute;
    right: 13px;
    top: 14px;
}
#section_toolkit_menu .tbar-menu-icon{
    display: inline-block;
    height: 20px;
    position: relative;
    top: 8px;
    width: 20px;
}
#section_toolkit_menu .xs_canvas_color_opt {
    border-bottom: 1px solid #9fa2a8;
    color: #fff;
    float: left;
    font-size: 15px;
    width: 100%;
}

#section_toolkit_menu .xs_canvas_color_opt input {
    margin-bottom: 10px;
}

/* +++++++++++++++++++++++++++++++++++      CSS FOR COLOR PICKER      ++++++++++++++++++++++++++++++++++++++++  */
.colorPickerLightness {
    background-color: #f00;
    background-image: linear-gradient(to right, transparent, #000);
    border-radius: 3px;
    cursor: crosshair;
    height: auto;
    left: 7px;
    position: absolute;
    top: 214px;
    width: 200px;
}
colorpicker-preview{
    color: white;
    font-weight: bold;
    text-align: center;
}

.inner_color_picker{
    padding: 10px;
}

.colorpicker{
    border-radius: 10px;
    background-color: #3F4651;
}

/*====Canvas element CSS=============*/
.canvas-container{
    background: #fff;
    z-index: 10 !important;
    /*    margin: 0 auto;
        top: 5%;*/
}
.layoutbackgroundDiv ul li.column, .layoutbackgroundDiv ul li.columns{
    z-index: 999 !important;
}
#manu_images ul li a, .layoutbackgroundDiv ul li a{
    z-index: 999 !important;
}
/* +++++++++++++++++++++++++++++++++++      CSS FOR WHEEL COLOR PICKER      ++++++++++++++++++++++++++++++++++++++++  */
.jQWCP-slider-wrapper, .jQWCP-wPreview {
    position: absolute;
    width: 20px;
    height: 180px;
    float: left;
    margin-right: 10px;
   // visibility: hidden ;
}

.jQWCP-wWidget {
    position: absolute !important;
    width: 200px !important;
/*      top: 241px !important;
  left: 0px !important;
    right: 0px !important;*/
    height: 0px !important;
    background: 0 !important;
    box-shadow: 0px 0px 0px 0 !important;
    border-radius: 0px !important;
    border: 0 !important;
    padding-top: 0px !important; 
    margin:0 auto !important;
    text-align: center; 
}
.jQWCP-wWheel{
    margin:-103px -138px !important;
    width: 134px !important;
    height: 134px !important;
    cursor: crosshair !important; 
}
.color-picker-button .color--picker{
    width: 0px;
    height: 30px;
    position: absolute;
    top: -12px;
    left: 6px;
    background:transparent !important;
    border:0px;
    box-shadow:none;
    color:#9E90C1;
}

.color-picker-button .color--picker-input                           
 {
    width: 100px;
    height: 50px;
    position: absolute;
    /* top: 0px; */
    left: 0;
    bottom: 0;
    
}

.color-picker-button a img {
    top: -1px;
    position: absolute;
    
}
/*+++++++++++++++++++++++++++++++++++   CSS FOR UPLOAD SECTION   +++++++++++++++++++++++++++++++++++++++++++*/

#menu_upload .uploadButtonAndMessage .fileUploadButton {
    margin: 0 0 0.5em;
}
#menu_upload .buttonBlock, #menu_textfx .buttonBlock{
    display: block;
    width: 100%;
}
#menu_upload .button , #menu_textfx .button {
    -moz-appearance: none;
    -moz-user-select: none;
    background-color: #99c432;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.78572;
    margin: 0;
    min-width: 2.78572em;
    outline-width: 0;
    padding: 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease 0s, border-color 0.15s ease 0s, color 0.15s ease 0s;
    width: 90%;
}

.uploadButtonAndMessage p {
    color: #959595;
    font-size: 85%;
    margin-bottom: 1.5em;
    text-align: center;
}

.browseCategories {
    margin-top: 19px;
    /*transition: opacity 0.2s linear 0s;*/
}
.photoGallery, .infoPanelGallery {
    position: relative;
}
.gallery {
    list-style: outside none none;
    width: calc(100% + 6px);
}
.photoGallery.laidOut li, .infoPanelGallery.laidOut li {
    position: absolute;
    /*    transition: opacity 0.3s linear 0s, transform 0.3s linear 0s, top 0.3s ease-out 0s;*/
    z-index: 3;
}
.photoGallery a, .infoPanelGallery a {
    margin: 0 6px 6px 0;
    transform: translate3d(0px, 0px, 0px);
    /*    transition: top 0.1s linear 0s, background-color 0.3s linear 0s;*/
}
.albumGallery a {
    margin: 0 28px 50px 0 !important;
}
.gallery a {
    color: #fff;
    display: block;
    margin: 0 6px 6px 0;
    position: relative;
    text-decoration: none;
}
.section-header a , .section-leftnav a {
    color: rgb(104, 104, 104);
    cursor: pointer;
    text-decoration: none;
}


.albumGallery .page, .folderExpanded .albumGallery a:hover .page, .folderExpanded .albumGallery a:hover .page:nth-child(2) {
    background-color: #535964;
    border: 2px solid #656b75;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(63, 70, 82, 0.5);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(6deg);
    transform-origin: 0 150% 0;
    /*    transition: all 0.15s linear 0s;*/
    width: 100%;
    z-index: 3;
}

.albumGallery .page:nth-child(2) {
    z-index: 2;
}

.albumGallery .page, .folderExpanded .albumGallery a:hover .page, .folderExpanded .albumGallery a:hover .page:nth-child(2) {
    background-color: #535964;
    border: 2px solid #656b75;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(63, 70, 82, 0.5);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(6deg);
    transform-origin: 0 150% 0;
    /*    transition: all 0.15s linear 0s;*/
    width: 100%;
    z-index: 3;
}

element.style {
    height: 76px;
}
.albumGallery img, .gallery img.transitioningToAlbum, .folderExpanded .albumGallery a:hover img {
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #3f4652;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: 40% 150% 0;
}
.gallery img {
    display: block;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    /*    transition: opacity 0.15s linear 0s, transform 0.15s linear 0s;*/
    width: 100%;
    z-index: 4;
}

.albumGallery .text {
    left: 0;
    overflow: hidden;
    padding: 13px 0 0;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 100%;
    /*    transition: all 0.3s linear 0s;*/
    white-space: nowrap;
    width: 100%;
}
.albumGallery a:hover img{
    transform:  rotate(-6deg);
}
.albumGallery a:hover .page{
    transform:  rotate(2deg);
}

.albumGallery a:hover .page:nth-child(2){
    transform:  rotate(10deg);
}


.inlineFolderGroup.end {
    border-bottom: medium none;
}
.inlineFolderGroup {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 0 10px;
    min-height: 200px;
    overflow: hidden;
    padding: 30px 0;
    transition: height 0.3s ease-out 0s, padding 0.3s ease-out 0s, margin-bottom 0.3s ease-out 0s;
    z-index: 1;
}
.searchGroup {
    padding: 6px 0;
    position: static;
}

.noResults {
    color: #959595;
    font-size: 85%;
    margin-bottom: 1.5em;
    text-align: center;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.already_selected{
    border: 1px solid rgb(86, 180, 239)!important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6)!important;
}


#menu_upload .scroll-loader {
    height: 270px;
    /*    overflow-y: auto;*/
}

#menu_upload .scroll-loader li{
    float: left;
    margin-bottom: 15px;
}


/***************************** BLOCK TOOLTIP START ************************************/
.txt-spacing-slide-bx ul, .transparent-slide-bx ul {
    background: #3f4652 none repeat scroll 0 0;
    border-radius: 4px;
    list-style: outside none none;
    position: absolute;
    right: 0;
    left: 100px;
    text-align: left;
    top: 10px;
    width: 50%;
}
/*.transparency-position{
    right:0 !important;
}*/
.transparancy-popover, .text-spacing-popover {
    background: rgb(247, 247, 247) none repeat scroll 0 0;
    padding: 7px;
    position: absolute;
    right: 87px;
    top: 55px;
    width: 81%;
}
.set-transparency-label {
    color: #4c4c4c;
}
.transparancy-popover small {
    color: rgb(76, 76, 76);
    float: right;
}

.text-spacing-popover small {
    color: #fff;
    float: right;
    position: relative;
    top: 20px;
}

ul.laidOut.example-animate-containe {
    height: 80vh;
    overflow: auto;
    width: 100%;
}

ul.laidOut li{
    padding-bottom: 0.3rem;
}

ul.laidOut.example-animate-containe li a{
    background-color: transparent;
    border: 1px solid #e5e5e5;
    height: 130px;
    opacity: 1;
    float: left;
    overflow: hidden;
    margin: 0 6px 6px 0;
    transform: translate3d(0px, 0px, 0px);
    transition: top 0.1s linear 0s, background-color 0.3s linear 0s;
    width: 100%;
    /*z-index: 999999999;*/
}

ul.laidOut.example-animate-containe li a img{
    transition: opacity 1s linear 0s;
    display: block;
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    transition: opacity 0.15s linear 0s, transform 0.15s linear 0s;
    width: 100%;
    z-index: 0;
}
/* 21-4-2016 */
.layoutbackgroundDiv ul.laidOut.example-animate-containe li a .price{
    position: absolute;
    bottom: 0;
}
.layoutbackgroundDiv ul.laidOut.example-animate-containe li a .info{
    position: absolute;
    bottom: 0;
}
.xs-tool-tip select {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    color: rgb(171, 171, 171);
    margin: 0 auto;
    text-align: left;
    width: 100%;
    margin-top: 4px;
}
.xs-tool-tip select {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    color: rgb(171, 171, 171);
    margin: 0 auto;
    text-align: left;
    width: 100%;
    margin-top: 4px;
}

.xs-tool-tip .xs-block-el {
    float: left;
    height: 45px;
    width: 47px;
}

.xs-block-el.mx-page-font-family.ng-scope:first-child {
    margin-left: 11px;
    margin-right: 13px;
    width: 132px;
}

.xs-tool-tip .xs-block-el:last-child{
    border-right: none;
}

.text-editor-circle .tblr-inner-data{
    display:none;
}

.text-editor-circle .text-editor-show{
    display:block;
}

.text-editor-circle .circle-inline-editor-show{
    display:block;
}

.text-editor-circle {
    display:none;
    /*    background-color: rgb(255, 255, 255);
        display: none;
        height: auto;
        margin-left: 1px;
        padding: 10px 0;
        position: fixed;
        top: 45px;*/
}
.text-editor-circle i{
    color:#fff;
    padding: 13px 12px 0px 14px;
}
.xs-tool-tip , .toolkit-container{
    height: 100%;
}

.xs-tool-tip .xs-block-el .paletteToolbar.scrollPane {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

.xs-tool-tip .xs-block-el .paletteToolbar li, .xs-block-el .paletteToolbarCloneItem {
    animation: 0.3s ease 0s normal none 1 running appearingElement;
    border-radius: 40px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15) inset, -1px -1px 0 rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    height: 26px;
    margin: 0 auto;
    position: relative;
    top: 19%;
    width: 26px;
    z-index: 2001;
}
.text-editor-circle .circle-inner-text {
    background: #9E90C1;
    height: auto;
    width: 280px;
    position: relative;
    /* left: 250px; */
    /* border: 1px solid transparent; */
    border-radius: 6px;
    float: left;
    top: -195px;
    left: 65px;
}
#color-plates-text {
    background: rgb(247, 247, 247) none repeat scroll 0 0;
    border-radius: 8px;
    float: left;
    height: auto;
    list-style: outside none none;
    margin: 0;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 236px;
}
#color-plates-button {
    background: rgb(247, 247, 247) none repeat scroll 0 0;
    border-radius: 8px;
    float: left;
    height: auto;
    list-style: outside none none;
    margin: 0;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 236px;
}

#color-plates-text li{
    float: left;
}
#color-plates-button li{
    float: left;
}

/*.delete-layer-icon {
    background-image: url("../images/tb_delete.png");   
}

.bold-layer-icon {
    background-image: url("../images/tb_bold.png");   
}

.italic-layer-icon {
    background-image: url("../images/tb_italic.png");   
}

.center-layer-icon {
    background-image: url("../images/tb_center.png");   
}

.left-layer-icon {
    background-image: url("../images/tb_left.png");   
}

.right-layer-icon {
    background-image: url("../images/tb_right.png");   
}

.more-layer-icon {
    background-image: url("../images/tb_more.png");   
}

.move-f-layer-icon {
    background-image: url("../images/tb_move_forward.png");   
}

.move-b-layer-icon {
    background-image: url("../images/tb_move_back.png");   
}

.flip-hor-layer-icon {
    background-image: url("../images/tb_flip_h.png");   
}

.flip-ver-layer-icon {
    background-image: url("../images/tb_flip_v.png");   
}

.copy-layer{
    background-image: url("../images/tb_copy.png");
}

.text-spacing-layer{
    background-image: url("../images/tb_spacing.png");
}

.text-uppercase-layer{
    background-image: url("../images/tb_uppercase.png");
}

.transparent-layer{
    background-image: url("../images/tb_transparency.png");
}

.text-stroke{
    background-image: url("../images/tb_stroke.png");
}

.text-shadow{
    background-image: url("../images/tb_textshadow.png");
}

.text-gradient{
    background-image: url("../images/tb_gradient.png");
}*/


/*.text-spacing-layer{
    background-image: url("../images/tb_spacing.png");
}*/

.has-tip {
    border-bottom: none;
}

/*.text-editor-circle .color-picker-button .tbar-menu-icon {
    display: inline-block;
    height: 20px;
    position: relative;
    top: -26px;
    width: 52px;
    left: -26px;
}
.text-editor-circle .font-style-button .tbar-menu-icon {
    display: inline-block;
    height: 20px;
    position: relative;
    top: -23px;
    width: 40px;
    left: -18px;
}*/

.text-editor-circle .tbar-menu-icon {
    display: inline-block;
    height: 42px;
    position: relative;
    top: -14px;
    width: 48px;
    left: -25px;
    text-align: center;
    font-size: 19px;
}
/* 1-11-17 circle icons css */
.text-editor-circle .color-submit {
    margin-bottom: 16px;
    /* padding: 9px 35px 10px 35px; */
    margin-left: 150px;
}
.text-editor-circle .color--picker-input {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}
.text-editor-circle .color-code {
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding-top: 6px;
    float: left;
    padding-bottom: 9px;
    font-weight:bold;
}
/* 31-10-17 circle icons css */
/*.jQWCP-wValSlider.jQWCP-slider {
    transform: rotate(90deg);
    position: relative;
    top: -50%;
    left: 114px;
}
.jQWCP-wPreview {
    display: none !important;
}
.jQWCP-scursor{
    transform:rotate(90deg);
}*/
.jQWCP-wPreview {
    display: none !important;
}
.jQWCP-slider-wrapper {
    transform: rotate(-90deg);
    top: -100px;
    left: 120px;
    display:none !important;
}
.text-editor-circle #circle-font-size {
    margin: 0px;
    margin-bottom:16px;
}
.text-editor-circle .custom-fonts select#circle-font-family {
    width: 162px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
}
.text-editor-circle .item-fonts label{
    color: #fff;
    font-size: 19px;
    padding-bottom: 7px;
    text-align:center;
    padding-top:11px;
}
.text-editor-circle .custom-fonts label{
    color: #fff;
    font-size: 20px;
    padding-bottom: 7px;
    text-align:center;
    padding-top:11px;
    font-weight:bold;
}
.text-editor-circle .font-sizes label {
    color: #fff;
    font-size: 20px;
    padding-top: 11px;
    padding-bottom: 7px;
    font-weight: bold;
}
.text-editor-circle #aligns .ng-scope a {
    display: inline-block;
    float: left;
    width: 33%;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 35px;
}
.text-editor-circle #aligns label {
    color: #fff;
    font-size: 20px;
    padding-top: 14px;
    font-weight: bold;
}
.text-editor-circle #aligns .ng-scope a span {
    float: left;
    display: inline-grid;
    color:#fff;
}
.text-editor-circle select#font-size{
    margin-top:0px;
}
.text-editor-circle .item-text-editing-options .text-editor-type {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 19px;
    padding-bottom: 5px;
    font-weight:bold;
}
.text-editor-circle .item-button-editing-options .text-editor-type {
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding-top: 19px;
    padding-bottom: 5px;
}
/* 30-10-17 circle icons css */
.text-editor-circle select#font-family {
    margin: 0 auto;
    display: block;
}
.text-editor-circle .circle-inner-content {
    background: #9E90C1;
    height: auto;
    width: 280px; 
    position: relative;
    left: 250px;
    /* border: 1px solid transparent; */
   border-radius: 6px; 
  float:left;
}

.text-editor-circle .active i {
    color: red;
}
.text-editor-circle .xs-block-el.mx-page-font-family.ng-scope:first-child {
    margin-left: 11px;
    margin-right: 13px;
    width:250px;
}
.flaticon-fontstyle::before {
    content: "\f031";
    font-family: fontawesome !important;
}
.flaticon-fontsize::before {
    content: "\f035";
    font-family: fontawesome !important;
}
.flaticon-color-picker::before {
    content: "\f1fc";
    font-family: fontawesome !important;
}
.arrow-down-more {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}
#color-plates-image-layer {
    background: #3f4652 none repeat scroll 0 0;
    border-radius: 8px;
    float: left;
    height: auto;
    list-style: outside none none;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 236px;
    display: none;
}
#color-plates-image-layer menu{
    width: 95%;
}

.disable-menu{
    opacity: 0.3;
}

.disable-menu a{
    cursor: default;
}

.check-on {
    background: rgba(0, 0, 0, 0) url("../images/check.png") repeat scroll 0 0;
    display: block;
    float: right;
    height: 10px;
    position: relative;
    right: 4px;
    width: 10px;
    top: 5px;
}

.uim_image_fill{
    float: left;
    position: relative;
    width: 100%;
    height:100%;
    max-height:100px;
    max-width:200px;
    overflow: hidden;
}

.uim_image_fill img{
    width: 100%;
    z-index: 99999;
}

.uim-info-img-filter{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    font-size: 15px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    visibility: hidden;
}
#menu_layout a.uim_image_fill:hover span.uim-info-img-filter{
    visibility: visible;
}

/*************END OF TOOLTIP BLOCK*/


/***********File upload section*****************/
.fileUpload {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
}
/***********End of file upload section**********/

.title-area a{
    float: left;
    text-decoration: none;
}

#_canvas_options a{
    font-size: 15px;
}
#_canvas_options{
    display: none;
}

#zoomer a {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 13px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 24px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s linear 0s, transform 0.05s linear 0s;
    width: 26px;
    margin-bottom: 35px;
}

#zoomer > a:hover {
    background: #00CCBA;
}

#zoomer {
    height: 92px;
    position: relative;
    text-align: center;
    z-index: 11;
    margin-top: 10px;
}

#zoomIn {
    top: 0;
}

#zoomOut {
    bottom: 0;
    /*line-height: 24px !important;*/
}

#zoomTextCaption {
    color: rgb(76, 76, 76);
    display: inline-block;
    float: none;
    font-size: 11px;
    line-height: auto;
    padding: 0px;
    width: 39px;
}

/*.left-bar-nav-menu .has-tip {
  border-bottom: 1px solid #3F4651; 
}*/

.left-bar-nav-container{
    width: auto;
}

.left-bar-nav-panel {
    width: 56px;
}

.left-bar-nav-panel-2{
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    width: 310px;
}

#menu_layout ul{
    width: 100%;
}

.xs-left{
    float: left;
}

#menu_layout ul,#menu_text ul, #menu_background ul, #manu_images ul,#menu_upload ul{
    margin: 0;
}
.browseCategories{
    padding: 5px 20px;
}

/*.canvas-container{
    opacity: 0;
}*/

#undoOption,#redoOption{
    visibility: hidden;
}

.loadingpage {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.right-section .loadingpage {
    /*background: #fff none repeat scroll 0 0;*/
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 999;
}


.loading-gif {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    position: relative;
}

#overlaybuttonGroup{
    display:block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    background: #000;
    opacity: 0.8;
    z-index:99999999999;
}
#overlayLoader{
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    background: #000;
    opacity: 0.8;
    z-index:99999999999;
}
#saveOverlayLoader{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    background: #000;
    opacity: 0.8;
    z-index:99999999999;
}
#saveOverlayLoader .savingCanvasMessage{
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    top: 40%;
}
#overlayLoaderImage{
    position: absolute;
    left: 0;
    top: 30%;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index:99999999999;
}
.overlayLoadingScreen{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*text-align:center;*/
    background: #000;
    opacity: 0.8;
    z-index:99999999999;
}
.loadingAnchorTag{
    width: 400px;
    height: 300px;
    background-image: url(../images/loading.gif);
    display: block;
}

#drop_download li{
    width: 100%;
}


.loadingpage p{
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 70%;
    font-size: 1.5em;
}

.infoTitleBar {
    float: left;
    left: 50%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 150px;
}

.infoTitleBar span{
    color: #fff;
}

#menu_upload{
    float: left;
    width: 100%;
    display: block;
}
#menu_upload ul li a{
    z-index: 9999;
}

#menu_upload .image-area-wrapper{
    float: left;
    width: 100%;
    display: block;
}

#menu_text .ui-draggable-dragging a { color: #000!important; }

#canvas_section_mirror{
    display: none;
}

.finalalize-image span.meter{
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: width;
    transition-duration: 1s;
}

.right.xs-nav-options {
    display: none;
}

.finalalize-image {
    margin-top: 10px;
}

.xs-grid{
    height: 195px;
}

.gs-example .columns {
    background: #DADADA none repeat scroll 0 0;
    border: 3px solid #fff;
    padding-left: inherit;
    padding-right: inherit;
    text-align: center;
    height: auto;
}

.xs-mockup-img{
    width: 100%;
}
.xs-title-bar {
    background: #eeeeee none repeat scroll 0 0;
    border: 0 none;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    min-height: 25px;
    padding: 5px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

.category_heding{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 20px;
    clear: both;
}

/* Hover mockup element */
.itemOptions {
    border: 0 none;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    width: 100%;
    background: rgba(200,200,200,0.7);
    visibility: hidden;
}

.gs-example .medium-2:hover + .itemOptions{
    visibility: visible;
}

.optionsBox #comment {
    font-size: 11px;
    font-weight: bold;
    height: 15px;
}

.itemOptions ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items .itemStart {
    background-position: 0 -76px;
}

.items .itemPreview {
    background-position: -45px -76px;
}

.items .itemInfo {
    background-position: -91px -76px;
}

.items .itemGuide {
    background-position: -138px -76px;
}

.items .itemInfo:hover {
    background-position: -91px -112px;
}

.items .itemStart:hover {
    background-position: 0 -112px;
}

.items .itemPreview:hover {
    background-position: -45px -112px;
}

.items .itemGuide:hover {
    background-position: -138px -112px;
}


.itemOptions ul li {
    background: rgba(0, 0, 0, 0) url("../images/itemOptions.png") no-repeat scroll left top;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 5px 1px 1px;
    padding: 0;
    width: 36px;
}

/*end of hover mockup element */
.xs-price-tag {
    position: absolute;
    right: 0;
    z-index: 999;
}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: left;
}

.xs-custom-size{
    display: none;
}

.reveal-modal{
    padding: 0.875rem;
}
.reveal-modal-bg{
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
}

.xs-grid-items:hover .itemOptions{
    visibility: visible;
}

.tooltip{
    z-index: 99999;
}

#menu_textfx{
    text-align: center;
}

.reveal-modal .close-reveal-modal {
    font-size: 1.5rem;
    right: 12px;
    top: 6px;
    cursor: pointer;
}

#user_upload_section {
    list-style: outside none none;
    width: 100%;
}

.m-xsh1 {
    color: #009cff;
    font-size: 70px;
    margin: 0;
}
.m-xssmall {
    font-size: 11px;
}

#modal3dLayoutOpt > div {
    margin-top: 12px;
    text-align: center;
}

#modal3dContentDiv > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    font-family: sans-serif;
}

#modal3dContentDiv{
    max-height: 525px;
    overflow-y: auto;
    overflow-x: hidden;
}
.downloadbtn {
    background: rgba(0, 0, 0, 0) url("../images/itemOptions.png") no-repeat scroll -138px -112px;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 25px 1px 1px;
    padding: 0;
    width: 36px;
}

.downloadbtn > a {
    background: transparent none repeat scroll 0 0;
    border-radius: 100px;
    display: block;
    height: 36px;
    position: relative;
}

#canvas_section_head.canvas-container-main div.canvas-container{
    visibility: hidden;
}

.top-bar-section ul li.not-click {
    background: transparent none repeat scroll 0 0 !important;
    padding-bottom: 13px;
    /*@ border-right: 1px solid #fff;*/
}

.top-bar-section ul li.not-click:last-child{
    border-right: none;
}

.not-click > a {
    font-size: 13px !important;
    text-transform: uppercase !important;
    font-weight: bold!important; 
}

.not-click input {
    display: inline !important;
    top: 0;
}

#menu_3d_container .accordion{
    margin: 0;
}

#menu_3d_container .content.active {
    float: left;
    width: 100%;
}


.count-layers-obj {
    background: rgb(243, 243, 243) none repeat scroll 0 0;
    position: fixed;
    /*top: 169px;*/
    top: 124px;
    right: 0px;

}

.count-layers-obj ul li{
    cursor: pointer;
}

.bound-layer-ball {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100px;
    display: block;
    height: 10px;
    margin-bottom: 8px;
    width: 10px;
}

.count-layers-obj > ul {
    list-style: outside none none;
    margin: 0;
    width: auto;
}

.move-f-layer-icon.tbar-menu-icon.has-tip.tip-down.disable {
    cursor: default;
    opacity: 0.5;
}

.move-b-layer-icon.tbar-menu-icon.has-tip.tip-down.disable {
    cursor: default;
    opacity: 0.5;
}

.bound-layer-ball.active {
    background: #00aff0 none repeat scroll 0 0;
}
.text-editor-circle li .xs_canvas_color_opt {
    /* width: 265px; */
    border-bottom: none;
    /* background: #9E90C1; */
   /* position: relative;
    top: -55px;
    left: 51px;
    padding: 5px 4px 4px 5px;*/
  
}

.text-editor-circle li .xs_canvas_color_opt label:first-child{
    padding-left: 7px;
}
.text-editor-circle li .xs_canvas_color_opt label {
    float: left;
    padding-left: 14px;
    font-size: 19px;
    font-weight: 600;
    color:#fff;
}
.text-editor-circle .xs_canvas_color_opt {
    border-bottom: 1px solid #9fa2a8;
    color: #fff;
    float: left;
    font-size: 15px;
    width: 100%;
}

.text-editor-circle .xs_canvas_color_opt input {
    margin-bottom: 10px;
}

#color-plates-text label {
    color: rgb(76, 76, 76);
    float: left;
    margin-left: 10px;
    margin-right: 2px;
}

#color-plates-button label {
    color: rgb(76, 76, 76);
    float: left;
    margin-left: 10px;
    margin-right: 2px;
}

#manu_images .uim_image_fill {
    border: 1px dotted #272C33;
    padding: 10px;
}


/*Menu animation bar bottom side 3/30/17 bottom-animation display none @*/
section.uim-animation-bar-wrap {
    width: 100%;   
    position: absolute;
    background: #3f4651 none repeat scroll 0 0;
    bottom: 0px;
    z-index: 99;
}
.fa{
    margin-left: 3px;
    margin-right: 3px;
}
section .animation-bar-title { 
    background: #669df4;
    padding: 8px;
    text-align: left ;
    margin-left: 0px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
}

section .uim-animation-bar-addnew a {
    background: rgb(104,104,104);
    color: rgb(255, 255, 255);
    height: 55px;
    position: relative;
    width: 55px;
}

.uim-animation-bar-addnew a::before {
    content: "+";
    font-size: 40px;
    left: 16px;
    top: 30px;
    font-weight: normal;
    position: absolute;
}

.animation-segment {
    padding: 10px;
}

.animation-segment-img {
    height: 79px;
    border: 1px solid #bfbdbd;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.animation-segment-img img{
    width: 100%;
}

.animation-segment input[type="text"] {
    margin: 0;
    padding: 0;
    height: 25px;
    text-align: center;
    background: #bfbdbd;
    border-top: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.uim-animation-bar-segment {
    overflow-y: visible;
    overflow-x: hidden;
}
.colorOption .hover_me_icon{
visibility:hidden;
float:left;
margin-left:35px;
margin-top: -10px;
}
.colorOption:hover .hover_me_icon{ 
 visibility:visible;
 display: block;
}

/*Menu animation bar right side*/
/*section.uim-animation-bar-wrap {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 1px solid rgb(198, 196, 200);
    height: 100%;
    position: absolute;
    right: -110px;
    width: 110px;
    z-index: 99;
}
.uim-animation-bar-head {
    height: 80vh !important;
}
#animation-bar-form {
   float: left;
   width: 100%;
   overflow: auto;
}
section .animation-bar-title {
    background: rgb(243, 243, 243) none repeat scroll 0 0;
    color: rgb(104, 104, 104);
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

section .uim-animation-bar-addnew {
    text-align: center;
    margin-top: 15px;
}

section .uim-animation-bar-addnew a {
    background: rgb(104,104,104);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    display: block;
    height: 55px;
    margin: 0 auto;
    position: relative;
    width: 55px;
}
section .uim-animation-bar-addnew a:hover {
    background: rgb(237,30,136);
}

.uim-animation-bar-addnew a::before {
    content: "+";
    font-size: 40px;
    left: 16px;
    position: absolute;
    top: -2px;
    font-weight: normal;
}

.animation-segment {
    padding: 10px;
}

.animation-segment-img {
    border: 1px solid rgb(191, 189, 189);
    height: 60px;
    margin: 0;
    padding: 0;
}

.animation-segment-img img{
    width: 100%;
}

.animation-segment input[type="text"] {
    margin: 0;
    padding: 0;
    height: 25px;
    text-align: center;
    background: #bfbdbd;
    border-top: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.uim-animation-bar-segment {
   width: 94%;
   float: left;
   height: 100%;
   overflow-y: auto;
   max-height: 80vh;
    
}
*/
/*span.animate-triangle {
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    display: block;
    height: 0;
    left: -35px;
    position: absolute;
    top: 88px;
    width: 0;
}*/
span.animate-triangle {
    background-color: #272C33;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 17px;
    max-width: 400px;
    padding: 9px;
    position: absolute;
}
/*30/3/17*/
/*span.animate-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    display: inline;
    border-bottom: 20px solid #3F4651;
    position: absolute;
    bottom: 158px;
    left: 0px;
    right:0px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    float: none;
}*/
.uim-animation-bar-segment{
    width: 94%;
    float: left;
}

/*Added by raj - 04-14-2017*/
ul.export-canvas-to {
    position: absolute;
    z-index: 1000;
    width: 50%;
    display: none;margin-top: 15px;
}

ul.export-canvas-to li:first-child {
    border-top: 1px solid #e1e1e1;
}

ul.export-canvas-to li {
    display: block;
    width: 60%;
    border-bottom: 1px solid #e1e1e1;
}

ul.export-canvas-to li a{
    background: #00ccba;
}
ul.export-canvas-to li a:hover{
    background: #3f4651 none repeat scroll 0 0;
}

#modalLayoutSizeFx label.xs-label-pin:first-child{
    display: none;
}

.animation-segment{
    position: relative;
}

.animation-segment a.close {
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    line-height:normal;
}

.animation-segment span.closespan {
    background: rgb(238,30,136);
    border-radius: 3px;
   height:20px;   
    position: absolute;
    right: 4px;
    top: 0;
    width: 20px;
}

.animation-segment:first-child span.closespan {
    display: block;
}

.animation-segment-img{
    cursor: pointer;
}
.animation-segment-img.frame-active{
    border: 1px solid  rgb(238,30,136);
}

/***********bottom animation 3/30/17**********/
.animation-segment.animation-segment-1 {
    position: relative;
    width: 10%;
    float: left;
}

#canvasDimensions .button-grid.is-checked {
    background-color: #d7d5d5;
    color: #565656;
    border: 1px solid #d7d5d5;
}
/*@ sidebar design*/
.section-leftnav .left-bar-nav-menu li .has-tip.tip-right i{margin-left: 0px;}
.section-leftnav .left-bar-nav-menu li .has-tip.tip-right i:hover{color: rgb(237,30,136);}
section.section-leftnav .left-bar-nav-container .left-bar-nav-panel-2{
    background: rgb(255, 255, 255) none repeat scroll 0 0 !important;
    border: 1px solid rgb(198, 196, 200);
}
ul.uim-container-image-filter a.uim_image_fill img {
    border: 1px solid rgb(204, 204, 204);
}
.has-tip:hover, .has-tip:focus {
    border-bottom: none;
    color: rgb(237,30,136);
}
.search-area.ng-scope input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(224, 224, 224);
    box-shadow: none;
    height: 48px;
}
.text-editor-circle select {
    padding: 0 0 0 5px;
    width:129px;
    margin-top: 25px;
    color: #000;
    font-size: 16px;
}
/*zoom-changes @*/
#Zoom_out_in.xs-block-el.item-common-menu {
    padding-top: 7px;
    width: 91px;
}
#Zoom_out_in a{float: left;}
.top-bar-section {
    float: right;
}
.Save_changes_color .flaticon-success::before{
    font-size: 16px; font-weight: bold; color: #6dbe45;
}
.top-bar-section .user_color_ican:before{color: rgb(237,30,136); }
.top-bar-section .flaticon-down-arrow::before {
    font-size: 8px;
}
.top-bar-section ul li:hover:not(.has-form) > a {
    background: transparent;
    color:rgb(144,144,144) !important;
}
.project-name-cls span, .Save_changes_color span {
    line-height: 19px;
}
.top-bar.docs-bar.hide-for-small > a {
    padding-left: 5px;
}
/**/

.dropdown-template_design {
    margin: 10px 14px;
}
.dropdown-template_design select{border-radius: 5px;}
.dropdown-template_design option {
    padding: 10px;
}
.dropdown-template_design {}
/**/
.set-transparency-label {
    font-size: 13px;
}
.text-editor-circle #range-slider-filter.range-slider,
#range-slider-line-height.range-slider {
    float: right;
    height: 10px;
    position: absolute;
    right: 41px;
    top: 6px;
    width: 60%;
}
.text-editor-circle #range-slider-filter .range-slider-active-segment,
#range-slider-line-height span.range-slider-active-segment {
    height: 9px;
}
.text-editor-circle #range-slider-filter.range-slider .range-slider-handle,
#range-slider-line-height.range-slider span.range-slider-handle {
    height: 20px;
    top: -6px;
    width: 24px;
}
.transparancy-popover small#transparancy-range-limit,
small#line-height-counter {
    color: rgb(76, 76, 76);
    display: inline-block;
    float: right;
    position: absolute;
    right: 13px;
    top: 14px;
}

.text-editor-circle .txt-spacing-slide-bx ol.text-spacing-popover::after {
    color: rgb(247,247,247);
    content: "ï„„";
    font-family: Flaticon;
    font-size: 24px;
    left: 85px;
    position: absolute;
    top: -24px;
    transform: rotate(180deg);
   
}
.transparent-slide-bx ol.transparancy-popover::after {
     color: rgb(247,247,247);
    content: "ï„„";
    font-family: Flaticon;
    font-size: 24px;
    left:177px;
    position: absolute;
    top: -24px;
    transform: rotate(180deg);
}

 #section_toolkit_menu #range-slider-filter, #range-slider-line-height.range-slider{margin: 10px 0;}
ul.export-canvas-to li a.image-version{border-right:none !important; margin-top: 5px !important;
                                       margin-bottom:5px !important;}
ul.export-canvas-to li{background-color: #fff;}
.range-slider-handle {
    background: rgb(241, 91, 136) none repeat scroll 0 0;
}
.range-slider-handle:hover {
    background: rgb(243, 94, 141) none repeat scroll 0 0;
}
/*Welcome_profile*/
ul.Welcome_profile {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 7px 7px 0 rgba(224, 224, 224, 0.8);
    display: none;
    padding: 0px 0;
    position: absolute;
    top: 43px;
    z-index: 99999;
}
ul.Welcome_profile li{float: none!important; background-color: transparent; padding:5px 10px!important;}
ul.Welcome_profile li a{
    border-right:none !important;
    margin-top: 0 !important; color: rgb(144, 144, 144);
}
ul.Welcome_profile li:hover{background-color: rgb(240, 240, 240);}
ul.Welcome_profile li a .flaticon-avatar {
    font-size: 21px;
    color: #000;
}
ul.Welcome_profile li a span{padding-left: 5px;}
ul.Welcome_profile li a img{max-width: 22px;}
ul.Welcome_profile::after {
    color: rgb(255, 255, 255);
    content: "ï„„";
    font-family: Flaticon;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: -18px;
    transform: rotate(180deg);
}
ul.Welcome_profile::before {
    color: rgb(230, 230, 230);
    content: "ï„„";
    font-family: Flaticon;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: -19px;
    transform: rotate(180deg);
}
.welcome_profile_hover:hover ul.Welcome_profile{display: block;}
/*sider-bar layer animation effects */
.count-layers-obj li {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 10px 13px;
}
.count-layers-obj li:last-child {
    border-bottom: medium none rgba(0, 0, 0, 0);
}
.bound-layer-ball.active {
    background: rgb(237, 30, 136) none repeat scroll 0 0;
    border: 1px solid rgb(255, 255, 255);
}    
.button-second, .button-third {
    float: left;
    margin-top: 16px;
}


/*--------Controls style for color, buttons and background---*/
.buttonControls{
    display: none;
}

.buttonControls {
    display: none;
    float: left;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
}

.backgroundControls{
    display: none;
}

.buttonrule {
    float: left;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.buttonrule button {
    padding: 10px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
}

#accessTemplate, .template-access{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 383px;
    height: 100px;
    margin: auto;
    text-align: center;
}

/* button modal popup*/

#buttonmodal {
    display: none;
    position: fixed;
   left: 0;
    top: 0;
    right: 0;
    width: 468px;
    height: 407px;
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: null;
    z-index: 60;
    margin: 0 auto;
}

/*#previewTemplate{
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 500px;
    height: 407px;
    z-index: 60;
    margin: 0 auto;
    border: 2px solid grey;
}*/

/* Modal Content/Box */
#buttonmodal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    
}

/* The Close Button */
#buttonmodal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 68px;
    position: absolute;
    right: 12px;
}
#buttonmodal p{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#buttonmodal .close:hover,
#buttonmodal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
26-09-2017
Editor circle for editing text

*/
/*section#section_toolkit_menu {
    position: relative;
    margin: 0 auto;
    z-index: 99;
}*/
.text-editor-circle {
    border: 35px solid #9E90C1;
    border-radius: 50%;
    box-sizing: border-box;
    height: 250px;
   // margin: 0 auto;
    max-width: 250px;
    position: absolute;
    left: 0;
    width: 100%;
    right: 0;
    transform: scale(0.7);
    z-index:20;
}
.text-editor-circle .text-options-circle {
    background: #9E90C1  none repeat scroll 0 0;
    border-radius: 50%;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    width: 35px;
    border:1px #fff solid;

}
.text-editor-circle .alignments {
    top: 72px;
    /* position: absolute; */
    /*width: 62px;*/
    left: 0;
}

/*.text-editor-circle .custom-fonts {
    display: block;
    position: absolute;
   left: 250px; 
    right: 0;
    top: 0px;
    bottom: 0px;
    text-align: center;
    margin: 0 auto;
    top: 25px;
    transform: scale(0.6);
}*/
.text-editor-circle .custom-fonts select{
    width:145px;
}
.text-editor-circle select option{
    font-size: 11px;
}
.text-editor-circle .font-sizes {
    /*display: block;*/ 
/*    position: absolute;
    left: 0px;
    right: 0;*/
    /*top: 146px;*/
    text-align: center;
/*    transform:scale(0.6);*/
}
.text-editor-circle .alignments {
    /*position: absolute;*/
    /* left: 250px; */
    /*display: block;*/
    right: 0px;
    top: 55px;
    text-align: center;
}

.text-editor-circle .alignments i {
    color: #fff;
    padding: 32px;
    font-size: 25px;
    padding-top:0px;
}
.text-editor-circle div.text-allignments {
    left: 40px;
    padding: 27px 28px;
    top: 163px;
}
.text-editor-circle div.font-style-button {
    left: 165px;
    padding: 27px 28px;
    top: 28px;
}
.text-editor-circle div.color-picker-button {
    padding: 27px 28px;  
    right: -41px;
    top: 100px;
}
.text-editor-circle div.copy-button, .text-editor-circle div.delete-button {
    padding: 27px 28px;
    right: 3px;
    top: -29px;
}
.text-editor-circle div.delete-button {
    bottom: -40px;
    right: 75px;
    top: -45px;
}
.text-editor-circle div.shadow-button {
    bottom: 1px;
    left: -127px;
    padding: 27px 28px;
    right: 42px;
}
.text-editor-circle div.bold-button {
    bottom: 71px;
    left: -45px;
    padding: 27px 28px;
}
.text-editor-circle div.italic-button {
    left: -19px;
    padding: 27px 28px;
    top: -7%;
}
.text-editor-circle div.transparency-button {
    left: 3px;
    padding: 27px 28px;
    top: -18%;
}
.text-editor-circle div.font-size-button {
    left: 115px;
    padding: 27px 28px;
    top: 86%;
}







@media (max-width:1041px){
    .left-bar-nav-container {
        width: 255px;
    }
    .left-bar-nav-panel-2 {
        width: 180px;
    }
    #menu_layout .medium-6 {
        width: 100%;
    }
    #menu_text .textControls ul li:first-child a.add{
        font-size: 30px!important;
    }
    .textControls li:nth-last-child(2) a {
        font-size: 22px !important;
    }
    #menu_text .textControls ul li:last-child a.add{
        font-size: 12px!important;
    }
    #menu_text .medium-6,#menu_background .medium-6 , #manu_images .medium-6 , #menu_upload .medium-6{
        width: 100%;
    }

    #menu_upload .button, #menu_textfx .button {
        line-height: 20px;
    }
    #menu_upload .photoGallery.albumGallery.categories.laidOut li:first-child{
        transform: scale(0.6);
        left:-12px!important;
    }
    #menu_upload .photoGallery.albumGallery.categories.laidOut li:last-child{
        transform: scale(0.6);
        left:70px!important;
    }
}
@media only screen and (max-width:1000px){
.text-editor-circle li .xs_canvas_color_opt label{
    font-size:17px !important;
}
}
@media only screen and (max-height:685px){
    .left-bar-nav-menu a{
        padding-top:0px !important;
        padding-bottom:4px;
        
    }
}