body{font-family:"Open Sans",sans-serif;}
.tabs-navbar { border-bottom: none; }
.tabs-navbar > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.tabs-navbar > li > a { border: none; color: #666; }
.tabs-navbar > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.tabs-navbar > li > a::after { content: ""; background: #4285F4; height: 3px; position: absolute; width: 95%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.tabs-navbar > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{ padding: 20px 30px 0;}
/* first-tab section */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {background-color:transparent;}
.tabs-navbar {
    background-color: #f7f7f7;
    padding: 0px 20px 0;
    margin: 0;
    height: 6vh;
}
.tabs-navbar img {margin-right: 15px; max-width: 52px;width: 100%;}
.tabs-navbar a {color: #686868;font-size: 12px;font-weight: 500; padding: 12px 15px !important;}
.primary-button{ background-color:#008ae2; color:#fff; border:1px solid #008ae2; border-radius:4px; font-size: 13px;
font-weight: 500; box-shadow: none;   max-width: 95%;width: 100%;}
.primary-button:hover{ background-color:#008ae2; color:#fff; border:1px solid #008ae2; border-radius:4px; font-size: 13px;
font-weight: 500; box-shadow: none;}
.sidebar-text > li {border-bottom: 1px solid #f0f0f0;list-style: outside none none;padding: 20px 0 20px 40px;}
.sidebar-text {padding: 0; margin-top:15px;}
.sidebar-text a {color: #686868; font-size: 13px;font-weight: 500;}
.sidebar-text li:hover a{color:#ff008a; text-decoration:none;}
.sidebar-text li:hover{ border-bottom: 1px solid #ff008a;   padding: 20px 0 20px 40px;}
.sidebar-text > li:last-child{border:none;}
.size-heading h1{margin-top:0px;color: #727071;font-size: 30px; font-weight: 200; padding-left:8px;}
.size-heading p:before, .size-heading p:after { content: "";display: inline-block;height: 1px;width: 46%;z-index:-9999;
background: #c1c1c1; bottom:3px; position:relative;}
.size-heading p:before{right:15px;}
.size-heading p:after{left:15px;}
.size-heading p {color: #c1c1c1;font-size: 15px;font-weight: 600;padding-top: 20px;text-align: center;}
.right-section{padding-right:0px;}
.box-section {
    float: left;
    width: 100%;
    margin-top: 30px;
    overflow-y: auto;
    /* height: 305px; */
    margin-bottom: 0;
}  

.square{text-align:center;}
.sidebar-tabs {padding-left:0;}
.fixed-box {padding: 0;}
.fixed-box li {
    /*border: 1px solid #e5e5e5;*/
    float: left;
    height: 230px;
    list-style: outside none none;
    margin: 0 1%;
    /* padding: 56px 0; */
    position: relative;
    width: 18%;
    overflow:hidden;
    /*background-color: #ccc;*/
}
.frame-box li{
    border: 1px solid #e5e5e5;
    float: left;
    list-style: outside none none;
    margin: 0 1%;
    position: relative;
    width: 18%;
    overflow: hidden;
}
/*.category-data-ajax ul.fixed-box img {
    position: absolute;
    left: 0;
    top: 0;
}*/
.category-trending-data-ajax ul.fixed-box img {
    /*border: 1px solid grey;*/
    position: absolute;
    left: 0;
    top: 0;
}
.canvas-data-ajax ul.fixed-box img {
    position: absolute;
    left: 0;
    top: 0;
	border: 1px solid #e0e0e0;
}
.canvas-trending-data-ajax ul.fixed-box img {
    position: absolute;
    left: 0;
    top: 0;
}
.canvas-trending-data-ajax ul.fixed-box img {
    /*border: 1px solid grey;*/
    position: absolute;
    border: 1px solid grey;
    left: 0;
    top: 0;
}
.project-title {
    font-size: 12px;
    font-weight: 600;
}
.customise-temp {
    position: absolute;
    left: 0;
    bottom: 0;
}
.preview-temp {
    position: absolute;
    right: 0;
    bottom: 0;
}
.fixed-box li p {margin: 0;padding: 6px 0 0;color:#999;}
.fixed-box li h3 {
    margin: 0;
    padding: 5px 0;
    bottom: 0;
    position: absolute;
    /* margin: 0 auto; */
    left: 0;
    right: 0;
}
.fixed-box div.customize-preview-section {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
	bottom:0px;
}
/*.fixed-box div.customize-preview-section{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: right;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px 0;
    margin-top:73px;
}*/
.fixed-box div.canvas-details{
   float: left;
	width: 100%;
	text-align: left;
	margin-top:9px;
}
.fixed-box div.canvas-details h5{
    font-style:none;
	color: #333;
	font-size: 12px;
	margin-bottom: 0px;
	margin-top:0px; 
	color: #333;	
}
.fixed-box div.canvas-details h4{
	margin-top:0px;
	margin-bottom:0px;
}

.customize-preview-section a {
    /* margin-right: 10px; */
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.blog {bottom: -40px;left: 0;position: absolute;right: 0;}
.blog p{color:#6666;}
.get-canvas-data.active a, .get-category-data.active a{color:#ff008a;text-decoration: none;border-bottom: 1px solid #ff008a;}
/* category modal */   
#canvasSizeModal .custom-category-select{left: 0;right: 0;position: absolute;width: 600px;margin: auto;}
/*.fixed-box li img{position:absolute;bottom:0;left:0}*/
.canvas-data-ajax ul, .canvas-trending-data-ajax ul {
    list-style: none;
    text-align: center;
    color: #C5C1C1;
    font-size: 1.2em;
    text-transform: uppercase;
	margin-left:0px;
}
.category-data-ajax ul, .category-trending-data-ajax ul {
    list-style: none;
    text-align: center;
    color: #C5C1C1;
    font-size: 1.2em;
    text-transform: uppercase;
	margin-left:0px;
	}

  /* ---- .grid-item ---- */

.grid-sizer,
.grid-item-value {
  width: 33.333%;
}

.grid-item-value {
  float: left;
}

.grid-item-value img {
  display: block;
  max-width: 100%;
}      
 .grid:after {
  content: '';
  display: block;
  clear: both;
}       
        
        
/* 15-11-17 */
.size-heading {
    height: 15vh;
    float: left;
    width: 100%;
}
.no-category-data-msg, .no-canvas-data-msg {
    float: left;
    width: 100%;
    overflow: auto;
    height: 75vh;
    padding-left: 8px;
}
.customize-preview-section a:hover{
	color:#fff;
}
.customize-preview-section a:focus{
	color:#fff;
}
.no-category-data-msg .fixed-box img {
    border: 1px solid #e0e0e0;
}
.no-category-data-msg .square .card-block-wrapper, .no-canvas-data-msg .square .card-block-wrapper {
    width: 100%;
    height: 150px;
    position: relative;
}
.no-category-data-msg .square .card-block-wrapper a.card-block-img, .no-canvas-data-msg .square .card-block-wrapper a.card-block-img {
    background-image: url(images/media/prolix/mockup/binderfront.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-size: cover !important;
    background-repeat: no-repeat;
	background-position:center;
}
	
.no-category-data-msg .fixed-box li:first-child, .no-canvas-data-msg .fixed-box li:first-child {
    margin-left: 0px;  
}
.customize-preview-section a i {
    padding-right: 4px;
}
.box-section h3 {
    font-size: 30px;
    font-weight: bold;
   border-bottom:2px dotted #c1c1c1;
    /* padding-left: 7px; */
    margin-bottom: 20px;
	padding-bottom:7px;
}
#previewModal .modal-footer{
	border-top:none;
}
#previewModal .modal-header{
	border-bottom:none;
}
#previewModal .frame-box {
    float: left;
    width: 100%;
	margin-top: 30px;
	margin-left: 0px;
}
/* 20-11-17 */
.modal-footer .btn-default{
	color: #008AE2;
	background-color: transparent;
	border-color: #008AE2;
	border-radius: 4px !important;
	border: 1px solid;
}
.modal-footer .btn-default:hover{
	color: #fff;
	background-color: #008AE2;
	border-color: #008AE2;
	border-radius: 4px !important;
	border: 1px solid;
}
.no-category-data-msg ul.data-msg ,.no-canvas-data-msg ul.data-msg {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
}
.no-category-data-msg ul.data-msg li ,.no-canvas-data-msg ul.data-msg li{
	list-style:none;
}

.customize-preview-section .preview-template{
	margin-left:40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {	
.fixed-box li{
	width:30% !important;
	}
	.no-category-data-msg, .no-canvas-data-msg{
		height:600px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.size-heading p::before, .size-heading p::after{width:40%;} 
	.fixed-box li{margin-top:55px; width:25%;}
	.primary-button{max-width:100%;}
	
	}
        @media (min-width:768px){
             #canvasSizeModal .modal-dialog {width:900px !important;} 
        }

@media only screen and (max-width:767px) {
	.size-heading h1{font-size:23px; text-align:center;}
	.size-heading p::before, .size-heading p::after{width:33%;}
	.fixed-box li{width:100%; margin-top:55px;}
	.right-section {padding-right: 15px;}
	.fixed-box li h3{padding: 6px 4px;}
	.primary-button{margin:0 auto; display:block;}
	.tabs-navbar {padding: 5px 0 0;}
	.tabs-navbar a {font-size:8px;}
	.tabs-navbar img {margin-right: 0;}
}
