	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/07/2017 09:12
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
font-weight: normal;
}
#section_toolkit_menu .xs-tool-tip .xs-block-el a i{font-size:18px; font-weight: normal;  color: #bbbbbb; }
.onactive::after {
  color: rgb(255, 255, 255);
  content: "";
  font-family: Flaticon;
  font-size: 24px;
  left: 40px;
  position: absolute;   
  transform: rotate(90deg);
}
.onactive::before {
  color:rgb(198, 196, 200);    
  content: "";
  font-family: Flaticon;
  font-size: 24px;
  left: 39px;
  position: absolute;
  transform: rotate(90deg);
}
.left-bar-nav-menu li a i {font-size: 23px;}
#section_toolkit_menu .xs-tool-tip .xs-block-el a i.black-color{color: #686868;}
.flaticon-minus-symbol:before { content: "\f100"; }
.flaticon-minus:before { content: "\f101"; }
.flaticon-plus:before { content: "\f102"; }
.flaticon-add-circular-outlined-button:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-sort-down:before { content: "\f105"; }
.flaticon-export-1:before { content: "\f106"; }
.flaticon-export:before { content: "\f107"; }
.flaticon-avatar:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-tick-inside-circle:before { content: "\f10a"; }
.flaticon-success:before { content: "\f10b"; }
 .flaticon-italic-text-option-interface-symbol:before { content: "\f10c"; }
.flaticon-italic-letter-style-interface-symbol:before { content: "\f10d"; }
.flaticon-italicize-text:before { content: "\f10e"; }
.flaticon-circular-shape-silhouette:before { content: "\f10f"; }
.flaticon-line-spacing-text:before { content: "\f110"; }
.flaticon-line-spacing-adjustment-in-a-paragraph:before { content: "\f111"; }
.flaticon-center-align:before { content: "\f112"; }
.flaticon-center-text-alignment:before { content: "\f113"; }
.flaticon-center-alignment:before { content: "\f114"; }
.flaticon-right-alignment-1:before { content: "\f115"; }
.flaticon-right-alignment:before { content: "\f116"; }
.flaticon-left-alignment-2:before { content: "\f117"; }
.flaticon-left-alignment-1:before { content: "\f118"; }
.flaticon-left-alignment:before { content: "\f119"; }
 .flaticon-font-style-bold:before { content: "\f11a"; }
.flaticon-bold:before { content: "\f11b"; }
.flaticon-square-shadow:before { content: "\f11c"; }
.flaticon-copy-two-paper-sheets-stroke-symbol-of-interface:before { content: "\f11d"; }
.flaticon-documents:before { content: "\f11e"; }
.flaticon-copy:before { content: "\f11f"; }
.flaticon-diamond-2:before { content: "\f120"; }
.flaticon-diamond-1:before { content: "\f121"; }
.flaticon-diamond:before { content: "\f122"; }
.flaticon-rubbish-bin:before { content: "\f123"; }
 .flaticon-font-size:before { content: "\f124"; }
.flaticon-upload-1:before { content: "\f125"; }
 .flaticon-upload:before { content: "\f126"; }
 .flaticon-duplicate-image:before { content: "\f127"; }
 .flaticon-ribbon:before { content: "\f128"; }
 .flaticon-image:before { content: "\f129"; }
.flaticon-expand-view:before { content: "\f12a"; }
.flaticon-expand:before { content: "\f12b"; }
 .flaticon-expand-screen:before { content: "\f12c"; }
 .flaticon-undo:before { content: "\f12d"; }
 .flaticon-redo:before { content: "\f12e"; }
 .flaticon-bg-image:before { content: "\f030"; }
