/* 
    Document   : uimcss
    Created on : 31 Dec, 2015, 1:11:48 PM
    Description:
        Contains global element CSS inside this file. Please be carefull while changing attributes.
*/

.xs-astric{
    color:#D64635;
}

.register .form-group label{
    display: block!important;
}



