.ajax-file-upload-statusbar {
    margin: 10px 0px;
    /*border: 2px dotted #A5A5C7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 5px 5px 5px*/
}

.ajax-file-upload-filename {
    width: 100%;
    height: auto;
    /*margin: 0 5px 5px 10px;*/
    color: #807579;
    font-size:12px;
}
.ajax-file-upload-progress {

    position: relative;

    border: 1px solid #ddd;
    border-radius: 3px;
    /*    display: inline-block;
        margin: 0 10px 5px 10px;
        padding: 1px;
        width: 250px;*/

}
.ajax-file-upload-bar {
    background-color: #0ba1b5;
    width: 0;
    height: 3px;
    border-radius: 3px;
    color:#FFFFFF;
}
.ajax-file-upload-percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%
}
.ajax-file-upload-red {
    -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
    -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
    box-shadow: inset 0 39px 0 -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin-right:5px;
}
.ajax-file-upload-green {
    background-color: #77b55a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 #5b8a3c;
    vertical-align: top;
    margin-right:5px;
}
.ajax-file-upload {

    background:#ff3c3c;
    /*  padding:6px 20px;
      float:left;
      border:none;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      color:#fff;
      font-size:14px;
      display: inline-block;*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    cursor:pointer;	
    line-height:20px;
    height:auto;
    margin:0 10px 10px 0;
    display: inline-block;
    border: 1px solid #ff3c3c;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 2px 0 0 #ff3c3c;
    -webkit-box-shadow: 0 2px 0 0 #ff3c3c;
    box-shadow: 0 2px 0 0 #ff3c3c; 
    padding: 6px 10px 4px 10px; 
    color: #fff;
    vertical-align:middle; 
}



.ajax-file-upload:hover {
    background: #E15449;
    -moz-box-shadow: 0 2px 0 0 #E15449;
    -webkit-box-shadow: 0 2px 0 0 #E15449;
    box-shadow: 0 2px 0 0 #E15449;
}

.ajax-upload-dragdrop
{
    border:2px dotted #A5A5C7;
    color: #DADCE3;
    text-align:left;
    vertical-align:middle;
    padding:10px 10px 0px 10px;
}

input[id^="ajax-upload-id-"] { 
    width: 100%!important;
    height: 100%!important;
}